html,body{
    /* 消除默认边距 */
    margin: 0;
}

/* 顶部 */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: #FAFAFA;
    z-index: 999;
}

.header_logo{
    position: absolute;
    width: 100%;
    left: 10px;
    top: 10px;
}

.header_logo #title{
    position: absolute;
    left: 50px;
    top: 10px;
    font-size: 18px;
}

.header #nav{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 635px;
}

.nav{
    display: inline-block;
    width: 50px;
    padding: 10px 0;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

#buy{
    display: inline-block;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color:#fff;
    background: black;
    border-radius: 5px;
}

.nav:hover{
    color: red;
    border-bottom: 2px solid red;
}

/* 大图一 */
.screen_one,.screen_two,.screen_three,
.screen_four,.screen_five{
    position: relative;
    width: 100%;
    height: 660px;
    overflow: hidden;
}

.screen1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.phone1,.phoneShadow{
    position: absolute;
    right: 0;
    left: 0;
    top:300px;
    width: 1000px;
    margin: 0 auto;
}

.phone1{
    z-index: 10;
}

.phoneShadow{
    z-index: 9;
}

.text1{
    position: absolute;
    text-align: center;
    top: 130px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 42px;
    font-weight: normal;
    z-index: 10;
}

.screen1_title{
    color: #f01414;
}
.screen1_text{
    color:#fff;
}

/* 大图二 */
.screen_two{
    background: rgb(250,250,250);
}
.text2{
    position: absolute;
    text-align: center;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

.screen2_title{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: normal;
    color: #f01414;
}

.screen2_text{
    margin: 0;
}
.box2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 230px;
}

.screen2_img{
    position: absolute;
    width: 800px;
    left: 50%;
    margin-left: -400px;
}

.label1,.label2,.label3{
    position: absolute;
    width: 210px;
    height: 31px;
    left: 50%;
    z-index: 10;
}

.label1{
    /*left: 50%;  保证标注相对手机静止，只能设50%  */
    margin-left: -520px;
    top: 150px;
}

.label2{
    margin-left: 80px;
    top: 40px;
}

.label3{
    margin-left: 120px;
    top: 200px;
}

.label1 span{
    display: inline-block;
    position: absolute;
    width: 100px;
    left: 0;
    font-size: 24px;
    color: #4D555d;
}
.label1 img{
    display: inline-block;
    position: absolute;
    left: 100px;
    padding: 5px 0;
}

.labelText{
    display: inline-block;
    position: absolute;
    width: 100px;
    left: 110px;
    font-size: 24px;
    color: #4D555d;
}

.labelImg{
    display: inline-block;
    position: absolute;
    left: 0px;
    padding: 5px 0;
}

/* 大图三 */
.screen_three{
    background: #a71316;
}

.screen3_img{
    position: absolute;
    width: 500px;
    left: 50%;
    top:160px;
    margin-left: 100px;
}

#text3{
    position: absolute;
    width: 580px;
    color: #fff;
    top: 110px;
    left: 50%;
    margin-left: -550px;
}

.screen3_title{
    display: block;
    font-size: 36px;
    margin-bottom: 36px;
}

.pane{
    position: absolute;
    width: 328px;
    height: 288px;
    top: 310px;
    left: 50%;
    margin-left: -550px;
}

.argument{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 138px;
    height: 118px;
    color: #fff;
    border: 1px solid #D97173;
    margin: 0 24px 24px 0;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}
.argument p{
    margin: 0;
}
.argument .number{
   font-size: 36px;
}

.argument:hover{
    transform: scale(1.05);
    
}

/* 大图四 */
.screen4_title{
    position: absolute;
    top: 80px;
    width: 100%;
    font-size: 42px;
    color: #f01414;
    text-align: center;
}

.screen4_text{
    position: absolute;
    top: 150px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

#phoneList{
    display: flex;
    position: absolute;
    top: 240px;
    width: 1240px;
    left: 50%;
    margin-left: -620px;
}

.phoneItem{
    flex: 1;
    text-align: center;
}

.phoneItem .phone{
    display: block;
    padding-left: 30px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.phoneItem span{
    display: block;
    width: 100%;
}

.phoneName{
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    color: #2c3238;
    padding: 5px 0;
}

.phoneText{
    font-size: 9px;
    height: 9px;
    line-height: 9px;
    color: #93999f;
    padding: 5px 0;
}

/* 大图五 */
.screen_five{
    background: #d9dde1;
}

.screen5_title,.screen5_text{
    position: absolute;
    width: 100%;
    text-align: center;
}

.screen5_title{
    top: 110px;
    font-size: 42px;
    color: #f01414;
}

.screen5_text{
    top: 190px;
    font-size: 16px;
}

.screen5_img{
    position: absolute;
    top: 360px;
    height: 370px;
    left: 50%;
    margin-left: -869px;
}


/* 大图六 */
.screen_six{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background: url('../img/bg-screen-buy.png')  center;
}

#buy2{
    display: block;
    position: absolute;
    width: 240px;
    height: 80px;
    color: #fff;
    background: #f01414;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    line-height: 80px;
    border-radius: 3px;
    /* 水平垂直居中 */
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -120px;
}

/* 底部 */
footer{
    width: 100%;
    height: 80px;
    text-align: center;
    background: #07111b;
    color: #fff;
    font-size: 12px;
    line-height: 80px;
}

/* 侧栏 */
.side_nav{
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -119.5px;
    width: 60px;
    height: 239px;
    font-size: 12px;
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
}

.sidebar{
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    color: #93999f;
    border-top: 1px solid #eee;
    margin: 5px 10px 0 10px;
}
.sidebar:first-child{
    border: none;
    margin-top: 7.5px;
}

.sidebar:hover{
    color: red;
}

/* 购物对话窗 */
.dialog_background{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0,0.1);
    z-index: 9998;
}
.dialog{
    position: fixed;
    display: none;
    width: 600px;
    height: 320px;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -200px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 12px 4px rgba(65, 138, 212, 0.8);
    z-index: 9999; 
}

.dialog_top{
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    background: rgb(243,243,243);
}

.dialog_title{
    position: absolute;
    height: 30px;
    left: 8px;
    line-height: 30px;
    font-size: 14px;
    color: rgb(102,102,102);
}

#dialog_close{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: rgb(205,205,205);
    cursor: pointer;
}

#dialog_close:hover{
    color: rgb(224, 13, 13);
}

.dialog_main{
    position: absolute;
    width: 540px;
    height: 340px;
    top: 40px;
    left: 50%;
    margin-left: -270px;
}

.dialog_main_detail{
    position: absolute;
    width: 100%;
    height: 340px;
}

.dialog_main_phone{
    position: absolute;
    width: 140px;
    height: 180px;
    top: 0;
    left: 0;
    background-image: url('img/phone-1.png');
    background-size:150px 180px;
    background-repeat:no-repeat;
    background-position:180% 50%;
    padding: 8px;
    border: solid 1px rgb(206, 200, 200);
    border-radius: 5px;
}

.dialog_main_parameter{
    position: absolute;
    right: 0;
    top: 0;
    width: 360px;
    height: 198px;
}

/* 表单部分 */
.pt_item{
    width: 100%;
    height: 58px;
    margin: 4px 0 0 0;
    font-size: 14px;
}
.pt_item_title{
    display: block;
    color: #838383;
    font-family: tahoma,arial,sans-serif;
    margin-bottom: 4px;
}

.pt_item_ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #666;
    font-family: tahoma,arial,sans-serif;
}

.input_radio{
    display: none !important;
}

.radio_memory,.radio_color{
    float: left;
    width: 68px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #b8b7bd;
    margin-right: 4px;
    cursor: pointer;
}

.checked{
    border: 2px solid #FF0036;
    background: #FF0036;
    color: #fff;
    margin: -1px 3px -1px -1px; 
}

.radio:hover{
    border: 2px solid #FF0036;
    margin: -1px 3px -1px -1px; /* 解决边框偏移*/
}

.pay_num{
    position: absolute;
    width: 56px;
    height:36px;
}

.pay_amount{
    position: absolute;
    width: 30px;
    height: 30px;
}

#pay_add,#pay_minus{
    position: absolute;
    width: 15px;
    height: 14px;
    right: 0;
    text-align: center;
    line-height: 14px;
    border: solid 1px #93999f;
    cursor: pointer;
}

#pay_add{
    top: 0;
}
#pay_minus{
    bottom: 0;
}

#pay_add:active,#pay_minus:active{
    background:#93999f;
    color: #fff;
}

/* 结算 */
.balance{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top:200px;
    margin-top: 10px;
    border-top: solid 2px rgb(245,245,245)
}

.symbol,.rate,.clearance{
    display: block;
    float: right;
    height: 36px;
}
.selected{
    display: block;
    float: left;
    height: 36px;
    color: #838383;
    font-size: 14px;
    line-height: 36px;
}

.symbol,.rate{
    font-size: 18px;
    font-weight: 700;
    color: rgb(228,61,64);
    opacity: 0.5;
    line-height: 36px;
    margin: 4px 2px;
}

.clearance{
    width: 100px;
    text-align: center;
    line-height: 36px;
    margin: 4px 2px;
    color: #fff;
    background: rgb(228,61,64);
    border-radius: 3px;
    cursor: pointer;
}